h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.hidden {
    background-color: gray;
}

.cell {
    cursor: pointer;
    user-select: none;
}

.new-game {
}
